<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/homestyles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-blue">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Goodreads</a>
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#">Contact us</a>
              <a class="nav-link" href="#">About</a>
            </div>
          </div>
        </div>
      </nav>
<h2></h2>
      <div class="container">
        <div class="row">
            <%for(let i=0;i<books.length;i++){ %>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                           <img src="<%=books[i].imageLink%>" alt="can't display">
                            <br><br>
                            <h4 class="cardTitle"><%=books[i].title%></h4>
                            <h5 class="cardAuthor"><%=books[i].author%></h5>
                            <p class="cardPages">Pages: <%=books[i].pages%></p>
                            <br>
                            <button type="button" class="btn btn-warning" id="<%=i%>" >View more</button>
                        </div>
                    </div>
                </div>
            <%}%>
        </div>
      </div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>
